.header{
    background-color: #d7e6e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__logo{
        color:#3a3b3a;
        text-decoration: none;
        letter-spacing: 2px;
    }

    &__nav-list{
        display: flex;
        list-style: none;
        column-gap: 2px;
        flex-wrap: wrap;
    }

    &__item-link{
        color:#3a3b3a;
        text-decoration: none;
        letter-spacing: 2px;

        &:hover{
            border-bottom: solid 2px #3a3b3a;;
        }
    }
}