$menu-color: #3a3b3a;

@mixin header-link{
    color: $menu-color;
    text-decoration: none;
    letter-spacing: 2px;
}

.header{
    background-color: #d7e6e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__logo{
        @include header-link;
    }

    &__nav-list{
        display: flex;
        list-style: none;
        column-gap: 20px;
        flex-wrap: wrap;
    }

    &__item-link{
        @include header-link;

        &--is-active{
            border-bottom: solid 3px;
        }

        &:hover{
            border-bottom: solid 2px $menu-color;
        }
    }
}